/* Tailwind css imported */
@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Italiana', cursive;
  font-size: 24px;
  position: relative;
  background-color: black;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}


.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 1rem;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 32px;
  background: linear-gradient(#eee, #009fd3);
  background-clip: text;

  @media (min-width: 768px) {
    font-size: 40px;
    line-height: 52px;
  }
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 36px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 36px;
    line-height: 40px;
  }
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 24px;
}

h4 {
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 20px;
}

h5 {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 16px;
}